.Cart {
    padding: 20px;
    background-color: #f9f9f9;
    .cart {
        max-width: 800px;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      
        h2 {
          margin-bottom: 20px;
          font-size: 24px;
          color: #333;
        }
      
        .delete-button {
          background-color: #e74c3c;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 4px;
          cursor: pointer;
          margin-bottom: 20px;
      
          &:hover {
            background-color: #c0392b;
          }
        }
      
        h4 {
          margin-top: 20px;
          font-size: 20px;
          color: #555;
        }
      
        ul {
          list-style: none;
          padding: 0;
      
          .cart-product {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background: #f9f9f9;
      
            .product-image {
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 4px;
              margin-right: 20px;
            }
      
            .product-details {
              p {
                margin: 5px 0;
              }
            }

            button{
              border-radius: 5px;
              padding: 4px 15px;
              color: white;
              background-color: #e67e22;
              margin-left: 450px;
            }
          }
        }
      
        .error {
          color: #e74c3c;
          font-size: 18px;
        }
      }
  }
  

  